<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
</head>

<body>
    <h1>{{ title }}</h1>

    <p> MIC CHECKz </p>
    <input type="file" accept="audio/*;capture=microphone">

    <h2><a href="">AGAIN?</a></h2>

    <div>
        <video autoplay></video>
        <script>
            var errorCallback = function (e) {
                console.log('Reeeejected!', e);
            };

            // Not showing vendor prefixes.
            navigator.getUserMedia({ video: true, audio: true }, function (localMediaStream) {
                var video = document.querySelector('video');
                video.src = window.URL.createObjectURL(localMediaStream);

                // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
                // See crbug.com/110938.
                video.onloadedmetadata = function (e) {
                    // Ready to go. Do some stuff.
                };
            }, errorCallback);
        </script>
    </div>
</body>



